# feedback
librosa
Unidecode
jamo
phonemizer
jamotools
unidecode
g2pk
kiwipiepy
openai-whisper
python-Levenshtein
setuptools
levenshtein

# script
pydantic
langchain
langchain_openai

# server
fastapi
uvicorn
python-multipart